
<div class="text-center">
    <ul class="pagination mg-b-0 page-0 mb-5">
        <li class="page-item">
            <a aria-label="Last" class="page-link" href="javascript:void(0)"><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li class="page-item">
            <a aria-label="Next" class="page-link" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
        </li>

        <li class="page-item">
            <a class="page-link" href="javascript:void(0)">2</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="javascript:void(0)">3</a>
        </li>
        <li class="page-item">
            <a class="page-link hidden-xs-down" href="javascript:void(0)">4</a>
        </li>

        <li class="page-item">
            <a aria-label="Next" class="page-link" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
        </li>
        <li class="page-item">
            <a aria-label="Last" class="page-link" href="javascript:void(0)"><i class="fa fa-angle-double-right"></i></a>
        </li>
    </ul>
</div>