    <div class="modal fade" id="agent_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="container" id="agent-container">
                        <form action="#" id="agentForm">
                            <h1 class="mb-2">Sign Up</h1>
                            <h5 class="text-primary mb-4">Start by creating a new agent account</h5>
                            <input type="text" placeholder="Full Name" />
                            <input type="email" placeholder="Email" />
                            <input type="password" placeholder="Password" />
                            <input type="password" placeholder="Confirm Password" />
                            <input type="tel" placeholder="Phone number" />
                            <input type="text" placeholder="Address" />
                            <select class="form-control">
                                <option value="0" selected>Palestine</option>
                                <option value="1">Canada</option>
                                <option value="2">Egypt</option>
                            </select>
                            <a href="#" tabindex="0" data-link-action="login" title="Login" data-bs-toggle="modal" data-bs-target="#login_modal">You already have an account? <b class="text-primary">Login now.</b></a>
                            <button>Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>