    <div class="modal fade" id="customer_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="container" id="customer-container">
                        <form action="#" id="customerForm">
                            <h1 class="mb-2">Sign Up</h1>
                            <h5 class="text-primary mb-4">Start by creating a new customer account</h5>
                            <input type="text" placeholder="Full Name" />
                            <input type="email" placeholder="Email" />
                            <input type="password" placeholder="Password" />
                            <input type="password" placeholder="Confirm Password" />
                            <a href="#" tabindex="0" data-link-action="login" title="Login" data-bs-toggle="modal" data-bs-target="#login_modal">You already have an account? <b class="text-primary">Login now.</b></a>
                            <button>Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>