    <div class="modal fade" id="reset_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close qty_close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="container" id="reset-container">
                        <form action="#" id="resetForm">
                            <h1 class="mb-2">Forgot Password</h1>
                            <p class="text-primary">Please, Enter your Email Address</p>
                            <input type="email" placeholder="Email" />
                            <button>Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>