@model LiveCards.Models.Adverty

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Adverty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MessageHe" class="control-label"></label>
                <input asp-for="MessageHe" class="form-control" />
                <span asp-validation-for="MessageHe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageAr" class="control-label"></label>
                <input asp-for="MessageAr" class="form-control" />
                <span asp-validation-for="MessageAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedOn" class="control-label"></label>
                <input asp-for="AddedOn" class="form-control" />
                <span asp-validation-for="AddedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
