@*@inject Microsoft.Extensions.Localization.IStringLocalizer<LiveCards.Web.Resource> Localize*@
 
@{
    //string x = System.Globalization.CultureInfo.CurrentCulture.Name;

    //var data = ( List<LiveCards.Models.PrepaidForgeAPI. ProductAPIDetails>) ViewBag.data;
}

<h2>
   @*Count =  @data.Count(x=> x.category2.Contains(",")) *@
</h2> 


<ul>

@*    @foreach(var item in data.Select(x => x.brand ).Distinct())
    {
        <li>@item </li>
    }*@
</ul>